.video-item {
  width: 320px;
  /* margin-right: 20px; */
  cursor: pointer;
  margin-top: 30px;
}

.thumbnail-img {
  width: 100%;
}

.video-content {
  display: flex;
  align-items: flex-start;
}

.profile-img {
  height: 30px;
  width: 30px;
  margin-top: 5px;
}

.title {
  font-family: 'Roboto';
  font-weight: 430;
  font-size: 13px;
  margin-top: 5px;
}

.txt-white {
  color: rgb(219, 218, 218);
}

.video-txt {
  margin-left: 10px;
}

.video-bottom-txt {
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  font-weight: 410;
}

.dot {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 450;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
}

.name {
  margin-bottom: 5px;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 410;
  margin-top: 10px;
}

.video-link {
  text-decoration: none;
}

.txt-grey {
  color: rgb(149, 144, 144);
}

@media (max-width: 400px) {
  .thumbnail-img {
    width: 90%;
  }

  .video-content {
    width: 90%;
  }

  .title {
    font-size: 10px;
  }

  .search-input {
    width: 60%;
  }

  .video-item {
    width: 250px;
  }

  .small {
    font-size: 10px;
  }
}
