.nav-list-item {
  display: flex;
  align-items: center;
  color: grey;
  margin-bottom: 20px;
  text-decoration: none;
}

.nav-item-name {
  margin-left: 10px;
  font-family: 'Roboto';
  font-weight: 450;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
}

.side-bar {
  width: 300px;
  height: 91vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 4px 8px 16px 0px #bfbfbf;
  margin-top: 70px;
}

.nav-list {
  margin-left: 20px;
}

.contact-logo {
  margin-right: 10px;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.facebook {
  color: rgb(15, 98, 182);
}

.twitter {
  color: rgb(103, 129, 224);
  height: 30px;
  width: 30px;
}

.linkedin {
  color: rgb(8, 64, 120);
}

.contact-container {
  margin-left: 10px;
  padding-bottom: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.greet-txt {
  font-family: 'Roboto';
  font-weight: 500;
  padding-right: 20px;
  margin-top: 30px;
  padding-bottom: 30px;
}

.txt-white {
  color: white;
}

.txt-white:active {
  background-color: rgb(76, 74, 74);
}

@media (max-width: 768px) {
  .side-bar {
    display: none;
  }
}
